<div class="icons">
  <div *ngIf="event && event.requirements.fines" class="icon">
    <h4>School Fines</h4>
    <img *ngIf="!student.fines" [src]="'assets/check.png'" height="{{100 * iconScale}}"
         width="{{100 * iconScale}}">
    <img *ngIf="student.fines" matTooltip="Student has school fines." [src]="'assets/warning-icon.png'"
         height="{{100 * iconScale}}" width="{{100 * iconScale}}">
  </div>
  <div *ngIf="event && event.requirements.fines" class="icon">
    <h4>Lunch Fines</h4>
    <img *ngIf="!student.lunch_fines" [src]="'assets/check.png'" height="{{100 * iconScale}}"
         width="{{100 * iconScale}}">
    <img *ngIf="student.lunch_fines" matTooltip="Student has lunch fines." [src]="'assets/warning-icon.png'"
         height="{{100 * iconScale}}" width="{{100 * iconScale}}">
  </div>
  <div *ngIf="event && event.requirements.attendance" class="icon">
    <h4>Attendance</h4>
    <img *ngIf="!student.attendance" [src]="'assets/check.png'" height="{{100 * iconScale}}"
         width="{{100 * iconScale}}">
    <img *ngIf="student.attendance" matTooltip="Student has less than 90% attendance."
         [src]="'assets/warning-icon.png'"
         height="{{100 * iconScale}}" width="{{100 * iconScale}}">
  </div>
  <div *ngIf="!isGuest && event && !allGradesAreEligible()" class="icon">
    <h4>Grade Level</h4>
    <img *ngIf="studentIsInEligibleGrade()" [src]="'assets/check.png'" height="{{100 * iconScale}}"
          width="{{100 * iconScale}}">
    <img *ngIf="!studentIsInEligibleGrade()" matTooltip="Student is not in an eligible grade."
         [src]="'assets/warning-icon.png'"
         height="{{100 * iconScale}}" width="{{100 * iconScale}}">
  </div>
</div>
