<h1 class="page-title">Pattonville Event Manager</h1>

<div class="body-container">

<div class="info-panels">

  <div>
    <img src="../../assets/tickets-icon.png">
    <h2>Sell and Check-in</h2>
    <p>Sell students tickets before the event, then check them in at the event. All online.</p>
  </div>

  <div>
    <img src="../../assets/laptop-icon.png">
    <h2>Create and Manage</h2>
    <p>Create events, go back and change preferences, and access all events stored in the archive.</p>
  </div>

  <div>
    <img src="../../assets/clipboard-icon.png">
    <h2>Event Details</h2>
    <p>Get useful information about the event, such as revenue and attendance.</p>
  </div>

</div>

<button class="login-button" mat-raised-button (click)="authService.login()">Login</button>

</div>
