<div class="icons">
  <div class="icon">
    <h4>Fines</h4>
    <img [src]="'../../assets/check.png'" height="132px" width="102px">
  </div>
  <div class="icon"
       matTooltipPosition="below"
       matTooltip="This student has an issue with attendance.">
    <h4>Attendance</h4>
    <img [src]="'../../assets/WarningSign.png'" height="102px" width="102px">
  </div>
  <div class="icon">
    <h4>Discipline</h4>
    <img [src]="'../../assets/check.png'" height="132px" width="102px">
  </div>
</div>
