<div class="icons">
  <div class="icon">
    <h4>Fines</h4>
    <img *ngIf="!student.fines" [src]="'../../assets/check.png'" height="{{132 * iconScale}}"
         width="{{102 * iconScale}}">
    <img *ngIf="student.fines" matTooltip="Student has issue with fines." [src]="'../../assets/WarningSign.png'"
         height="{{102 * iconScale}}" width="{{102 * iconScale}}">
  </div>
  <div class="icon">
    <h4>Attendance</h4>
    <img *ngIf="!student.attendance" [src]="'../../assets/check.png'" height="{{132 * iconScale}}"
         width="{{102 * iconScale}}">
    <img *ngIf="student.attendance" matTooltip="Student has less than 90% attendance."
         [src]="'../../assets/WarningSign.png'"
         height="{{102 * iconScale}}" width="{{102 * iconScale}}">
  </div>
</div>
