<div class="student-info">
  <h2>Student Info</h2>

  <table>
    <tbody>
    <tr>
      <td class="keyColumn">Name:</td>
      <td class="valueColumn">{{ student.first_name + " " + student.last_name }}</td>
    </tr>
    <tr>
      <td class="keyColumn">SID:</td>
      <td class="valueColumn">{{ student.student_number }}</td>
    </tr>
    <tr>
      <td class="keyColumn">Grade Level:</td>
      <td class="valueColumn">{{ student.grade_level }}</td>
    </tr>
    <tr *ngIf="student.guest">
      <td class="keyColumn">Guest:</td>
      <td class="valueColumn">{{ student.guest }}</td>
    </tr>
    <tr *ngIf="student.guest">
      <td class="keyColumn">Guest Attends Pattonville:</td>
      <td class="valueColumn">{{ student.guestId ? "Yes" : "No" }}</td>
    </tr>
    </tbody>
  </table>

</div>
