@import '../styles';

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgb(216, 216, 216);
  font-size: 15px;

  nav {
    width: 100%;
    list-style-type: none;
    display: inline-flex;
    box-shadow: 2px 5px 75px rgb(0, 0, 0);
    a {
      text-decoration: none;
      color: rgb(19, 116, 0);
      width: 8%;
      padding-top:15px;
      padding-bottom: 15px;

      &:hover {
        background-color: rgb(255, 255, 255);
      }

    }
    p{
      text-decoration: none;
      color: rgb(19, 116, 0);
      width: 10%;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 15px;
      img{
        vertical-align: top;
      }
    }
  }
}

.event-container {

  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
  box-shadow: 6px 8px 8px $dark-green;
  border-radius: 4px;

  div {
    width: 100%;
    text-align: center;

    button {
      margin-left: 50%;
      height: 40%;
      width: 50%;
      font-size: 20px;
      color: white;
      background-color: rgb(112, 219, 117);

      &:hover {
        background-color: rgb(109, 255, 116);
      }

    }

  }

}
