<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header>
  <nav>
    <div class="left-align">

      <p><img src="../assets/logo.png">Event Manager</p>
      <a *ngIf="authService.isAuthenticated()"
         routerLink="/events"
         [routerLinkActive]="['active-link']">Events</a>
      <a
        *ngIf="authService.isAuthenticated() && ((user?.role === 'admin' || user?.role === 'super') || (authService.userProfile?.role === 'admin' || authService.userProfile?.role === 'super'))"
        routerLink="/create"
        [routerLinkActive]="['active-link']">Create
        Event</a>

    </div>

    <div class="right-align">
      <a *ngIf="authService.isAuthenticated() && (user?.role === 'super' || authService.userProfile?.role === 'super')"
         routerLink="/admin" [routerLinkActive]="['active-link']">Admin Panel</a>
      <a id="logout" *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Logout</a>
    </div>
  </nav>
</header>
<router-outlet>
</router-outlet>
