<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header>
  <nav>
    <p><img src="../assets/logo.png" style="width:25px;height:25px;">Event Manager</p>
    <a *ngIf="authService.isAuthenticated()" routerLink="/events">Events</a>
    <a
      *ngIf="authService.isAuthenticated() && ((user?.role === 'admin' || user?.role === 'super') || (authService.userProfile?.role === 'admin' || authService.userProfile?.role === 'super'))"
      routerLink="/create">Create
      Event</a>

    <div class="right-align">
      <a *ngIf="authService.isAuthenticated() && (user?.role === 'super' || authService.userProfile?.role === 'super')"
         routerLink="/admin">Admin Panel</a>
      <a id="logout" *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Logout</a>
    </div>
  </nav>
</header>
<router-outlet>
</router-outlet>
