@import "../../styles";

.create-event-button {
  border: 1px solid $background-gray;
}

.column {
  width: 100%;
}

form {
  text-align: center;
}

h1 {
  font-size: 30px;
}

.header-container h1 {
  width: 100%;
}

mat-form-field {
  width: 80%;
  font-size: 16px !important;
  font-family: "Roboto", Avenir, sans-serif !important;
}

input, mat-checkbox {
  font-size: 16px;
  font-family: "Roboto", Avenir, sans-serif;
}


h3 {
  font-size: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.top-row {
  margin-bottom: 40px;
}

.create-event-button {
  width: 20%;
  height: 75px;
  background-color: $green;
  color: white;
  font-size: 20px;
  margin-top: 60px;

  &:hover {
    background-color: $light-green;
    cursor: pointer;
  }

  &:disabled {
    background-color: gray;

    &:hover {
      background-color: gray;
      cursor: not-allowed;
    }
  }

}

.checkbox-container {
  text-align: left !important;
  padding-left: 40%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mat-form-field-suffix.mat-icon-button {
  width: 2em !important;
  height: 2em !important;
  font-size: 20px !important;
}

.mat-input-infix.mat-form-field-infix {
  padding: 0 !important;
}

.header-container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;

  h1 {
    padding-right: 0;
  }

}

.delete-button {
  margin-top: 26px;
  border: none;
  background-color: #c23616 !important;

  &:hover {
    background-color: #eb4d4b !important;
  }
}





