<h1 *ngIf="this.isNewEvent">Create Event</h1>
<h1 *ngIf="!this.isNewEvent">Edit Event</h1>

<form [formGroup]="formGroup">

  <div class="row">

    <div class="column">
      <div class="top-row">
        <mat-form-field>
          <input matInput placeholder="Event Name" formControlName="eventNameCtrl" maxlength="100" [value]="getPropertyValue('name')">
          <mat-error *ngIf="eventNameCtrl.hasError('required')">
            Event name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="bottom-row">
        <mat-form-field>
          <textarea matInput placeholder="Event Description" matTextareaAutosize formControlName="eventDescriptionCtrl" maxlength="1000" [value]="getPropertyValue('description')"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="column">
      <div class="top-row">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Event Date" [readonly]="true" formControlName="dateCtrl" [value]="getPropertyValue('date')">

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <mat-hint align="start">Click the datepicker button to choose a date</mat-hint>
          <mat-error *ngIf="dateCtrl.hasError('required')">
            Event date is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="bottom-row">
        <mat-form-field>
          <input matInput placeholder="Ticket Cost" appRestrictInput="decimal" formControlName="costCtrl">
          <span matPrefix>$&nbsp;</span>
          <mat-error *ngIf="costCtrl.hasError('required')">
            Ticket cost is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>


    <div class="column requirements">

      <h3>Requirements</h3>
      <div class="checkbox-container">
        <div>
          <mat-checkbox>Attendance</mat-checkbox>
        </div>
        <div>
          <mat-checkbox>Fines</mat-checkbox>
        </div>
      </div>

    </div>

  </div>

  <button
    class="create-event-button"
    matTooltip="You can always come back and make changes later."
    matTooltipPosition="above"
    mat-button
    [disabled]="inputIsInvalid()"
    (click)="submitEvent()">
    Create Event
  </button>


</form>
