/* You can add global styles to this file, and also import other style files */
@import "theme";

$green: #2e7d32;
$light-green: #00b353;
$background-gray: #d9d9d9;

body {
  background-color: #d9d9d9;
  font-family: "Roboto", Avenir, sans-serif;
  text-align: center;
  font-size: 12px;
  height: 100%;
  margin: 0;
}

.mat-raised-button.mat-primary, .mat-step-icon, .mat-step-icon-not-touched {
  color: white !important;
}

