/* You can add global styles to this file, and also import other style files */
@import "./theme";

$green: #2e7d32;
$light-green: #00b353;
$dark-green: #1b491d;
$background-gray: #d9d9d9;

html {
  height: 100%;
}

body {
  background-color: #d9d9d9;
  font-family: "Roboto", Avenir, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
}

h1 {
  padding: 40px;
  margin: 0;
}

.mat-raised-button.mat-primary, .mat-step-icon, .mat-step-icon-not-touched {
  color: white !important;
}

input {
  height: 50px;
  font-size: 1.5rem;
  border: none;
  text-align: center;
}

input:focus {
  box-shadow: 0 0 5px #44B78B;
  border: none;
}

snack-bar-container.snackbar-custom-class {
  background: $green !important;
}

.snackbar-custom-class .mat-simple-snackbar {
  color: white !important;
}
