@import "../../styles";

.button-container {
  button {
    margin: 3rem;

    &:hover {
      background-color: $light-green;
    }
  }
}

p {
  margin-left: 2rem;
  text-align: left;
  font-size: 1.25rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
}

/deep/ .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

.container {
  margin: 100px 0 4rem 0;
}

.table-head {
  background-color: #cccccc;
  display: flex;
  flex-direction: row;

  mat-form-field {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  .csv-export-container {
    margin: 7px 2.5rem 5px 0;

    button {
      &:hover {
        background-color: $light-green;
      }
    }

  }
}

.mat-icon-button {

  &:hover {
    color: $green;
  }

}

.mat-fab {
  border: none;
  background-color: $green;

  &:hover {
    background-color: $light-green;
  }

}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;

  h2 {
    padding-top: 14px;
    margin-top: 0;
    padding-left: 45%;
  }

}


