.preset-info, .pattonville-guest {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 0;
}

.guest-id-field {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: 0;
}
