<h2 mat-dialog-title>Edit</h2>
<mat-dialog-content>
  <form>
    <div class="preset-info">
      <mat-form-field>
        <input matInput placeholder="Name" disabled value="{{changedAttendee.first_name + ' ' + changedAttendee.last_name}}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="SID" disabled value="{{changedAttendee.student_number}}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Grade" disabled value="{{changedAttendee.grade_level}}">
      </mat-form-field>

      <mat-checkbox #hasGuest (change)="hasGuestCheckboxChanged()" [checked]="changedAttendee.guest">Has Guest</mat-checkbox>
    </div>

    <div class="guest-edit" *ngIf="hasGuest.checked">
      <h4>Guest</h4>
      <mat-checkbox #pattonvilleGuestCheckbox (change)="hasPattonvilleGuestCheckboxChanged(pattonvilleGuestCheckbox)" [checked]="changedAttendee.guestId != -1">Guest Attends Pattonville</mat-checkbox>
      <div *ngIf="!pattonvilleGuestCheckbox.checked" class="non-pattonville-guest">
        <mat-form-field>
          <input matInput placeholder="Name" value="{{changedAttendee.guest?.name}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="School" value="{{changedAttendee.guest?.school}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" value="{{changedAttendee.guest?.age}}">
        </mat-form-field>
        <mat-form-field>
          <span matPrefix>+1 &nbsp;</span>
          <input type="tel" maxlength="10" matInput placeholder="Phone Number" value="{{changedAttendee.guest?.phone}}">
        </mat-form-field>
      </div>
      <div *ngIf="pattonvilleGuestCheckbox.checked" class="pattonville-guest">
        <div class="guest-id-field">
          <mat-form-field>
            <input matInput placeholder="Guest SID" (keyup.enter)="searchForGuest(guestIDInput.value)" #guestIDInput value="{{changedAttendee.guestId > 0 ? changedAttendee.guestId : ''}}">
          </mat-form-field>
          <button (click)="searchForGuest(guestIDInput.value)" mat-button>Enter</button>
        </div>
        <mat-form-field>
          <input matInput placeholder="Guest Name" disabled value="{{ pattonvilleGuest ? pattonvilleGuest.first_name + ' ' + pattonvilleGuest.last_name : ''}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Guest Grade Level" disabled value="{{ pattonvilleGuest ? pattonvilleGuest.grade_level : '' }}">
        </mat-form-field>
      </div>
    </div>
    <div class="end-fields">
      <h4>Additional</h4>
      <mat-form-field>
        <input matInput #timestampInput placeholder="Timestamp" disabled value="{{ changedAttendee.timestamp ? (changedAttendee.timestamp | amDateFormat:'LTS l') : 'None' }}">
        <button mat-button *ngIf="changedAttendee.timestamp" matSuffix mat-icon-button aria-label="Clear" (click)="changedAttendee.timestamp = null">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Comment"></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="changedAttendee">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
